{% comment %} {% extends 'base.html'%}
{% block content %}
{{ block.super}}
{% load bootstrap4 %}

<br>
<br>
<script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>

<div class="container-fluid">
  <div class="row">
    <div class="col-2">
    </div>

      <div class="col-10">
      {% for hood in hoods %}

      <div class="card mr-0" style="max-width:30rem; margin-top:5px;">

        <img src="{{hood.hood_photo.url}}" class="card-img-top">
        <div class="card-body">

          <div class="media">
            <div class="media-left media-top">
              <p>Hood: {{hood.hood_name}}</p>
              <p>Location: {{hood.location}}</p>
            </div>
          </div>
          <hr>
          <p>Population: {{hood.occupants_count}}</p>
            <button class="four d-flex justify-content-end" style="float:right; padding:10px; margin:5px">
             <a href="{% url 'join' hood.id %}">Join</a></button>
        </div>

      </div>

      {% endfor %}
    </div>
    {% endblock %}
  </div>
</div>  {% endcomment %}